.Screen {
    width: 100%;
    height: 10vh;
    border-radius: 10px;
    transition-property: background-color, color;
    transition-duration: var(--theme-change-animation-duration);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    margin-bottom: 5vh;
}

.Theme1 {
    background-color: var(--screen-background-color1);
}

.Theme2 {
    background-color: var(--screen-background-color2);
}

.Theme3 {
    background-color: var(--screen-background-color3);
}
