.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    width: 100vw;
    height: 100vh;
    transition: background-color 1s, color 1s;
}
.Calc {
    width: 337.5px;
}

.Theme1 {
    background-color: var(--main-background-color1);
    color: var(--primary-text-color1);
}

.Theme2 {
    background-color: var(--main-background-color2);
    color: var(--neutral-text-color2);
}

.Theme3 {
    background-color: var(--main-background-color3);
    color: var(--neutral-text-color3);
}

@media (min-width: 810px) {
    .Calc {
        width: 450px;
    }
}
